{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main%}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-start">Name</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price of Share</th>
                <th class="text-end">Cost</th>
            </tr>
        </thead>
        <tbody>
            {% for share in shares%}
                <tr>
                    <td class="text-start">{{share.symbol}}</td>
                    <td class="text-start">{{share.name}}</td>
                    <td class="text-end">{{share.nshares}}</td>
                    <td class="text-end">{{share.price | usd}}</td>
                    <td class="text-end">{{(share.price*share.nshares) | usd}}</td>
                </tr>
            {% endfor%}
        </tbody>
        <tfoot>
            <tr>
                <td class="fw-bold text-end" colspan="4">Cash</td>
                <td class="fw-bold text-end" colspan="4">{{ cash | usd }}</td>
            </tr>
            <tr>
                <td class="fw-bold text-end" colspan="4">Total</td>
                <td class="fw-bold text-end" colspan="4">{{ (cash + totalshares) | usd}}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}